
<div class="row main">
     <div class="main-center">
     <h1> Edit a job  </h1>
         <%= simple_form_for @job do |f| %>
         <div class="form-inputs">
           <div class="cols-sm-10">
               <%= f.input :title, required: true, autofocus: true %>
           </div>
           <div class="cols-sm-10">
               <%= f.input :description %>
           </div>

         <div class="form-actions">
           <%= f.button :submit, "提交" %>
         </div>
         <% end %>

     </div>
   </div>
</div>
