<div class="jumbotron">
    <h1 class="title">聚才网</h1>
    <p class="slogan">
    世界那么大
    </br>

    <br>
    总有一片属于你的天地
    </br>
    <br>
     让我们助你一臂之力
    </p>
    <p class="lead"><a class="btn btn-lg btn-warning" href="/jobs">马上应征</a></p>
  </div>
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fc4fgp7w7tj303k03kglh.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>上海浦东新区1000号</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fc4fb9iwgoj303k03kwed.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>info@jucai.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fc4fezb8y0j303k03kdfr.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>021-66668888</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
